<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button >
        <mat-icon>person_outline</mat-icon>
    </button>
    <span class="fill-space"></span>
    <mat-card-header>
        <a href="">
            <mat-icon>
                <i mat-card-avatar class="material-icons" style="background-color: green;">accessibility</i>
            </mat-icon>
        </a>
      </mat-card-header>
    </mat-toolbar> -->
    <!-- Arriba codigo de navbar con angularmaterial retomar luego -->


    <p>dashboard works!</p>
    <!-- <ul>
      <li *ngIf="items.length === 0">Empty list</li>
      <li *ngFor="let item of items; index as i">
        {{item}} {{i}}
        <button (click)='deleteItem(i)'>Delete</button>
      </li>
    </ul> -->
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="reps.length === 0">No se encontraron repositorios</tr>
        <tr *ngFor="let item of reps" (click)='showRow(item)'>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
        </tr>
      </tbody>
    </table>
    
    <mat-card class="example-card">
    </mat-card>